.calendar-main {
    margin: 5vh 0;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.overlay {
    width: 100%;
    transition: ease-out .5s;
}

.to-blur {
    filter: blur(5px);
    transition: ease-in .5s;
}

.calendar-main section {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.calendar-main h1 {
    font-weight: bold;
    text-decoration: #dd0f88 underline;
    font-size: 2em;
    text-align: center;
}
.calendar-main h2 {
    font-weight: bold;
    font-size: 1.7em;
    text-align: center;
    margin: 7.5vh 0 2.5vh 0;
}
.schedule aside {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    border-radius: 1vw;
    border: 1px solid #dd0f88;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 2.5vh;
}
.schedule aside div {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.schedule aside div:first-child p {text-decoration: underline #dd0f88}
.schedule aside div p {
    flex-basis: calc(100% / 7);
    margin: 1vh auto;
    font-size: 1.1em;
    text-align: center;
}
.calendar-main #calendar > p {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 1.2em;
}
.calendar-main #calendar > p:last-child {margin-top: 7.5vh}

.calendar-main hr {
    width: 30vw;
    height: 2px;
    background-color: #dd0f88;
    border: none;
    margin: 2.5vh auto;
}

.calendar-main p a {
    text-decoration: none;
    color: #dd0f88;
}

.calendar-main p a:hover { color: #edcedc }

.react-calendar {
    width: 50%;
    max-width: 100%;
    background: #fef6f7;
    border: 1px solid #dd0f88;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    border-radius: 1vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;;
}
.react-calendar--doubleView {
    width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}
.react-calendar button:enabled:hover {
    cursor: pointer;
}
.react-calendar__navigation {
    display: flex;
    height: 5vh;
    margin: 1vh 1vw;
}
.react-calendar__navigation__label { font-size: 1em }
.react-calendar__navigation button {
    min-width: 50px;
    background: none;
    border-radius: 1vw;
}
.react-calendar__navigation button:disabled {
    background-color: #fef6f7;
}
.react-calendar__navigation button:enabled:hover {
    background-color: #edcedc;
}
.react-calendar__month-view {
    margin: 1vh 1vw;
}
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}
.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
    color: #dd0f88;
}
.react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}
.react-calendar__tile {
    max-width: 100%;
    padding: 10px 7px;
    background: none;
    text-align: center;
    line-height: 3vh;
    border-radius: 1vw;
}
.react-calendar__tile:disabled {
    background-color: #fef6f7;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #edcedc;
}
.react-calendar__tile--now {
    background: #edcedc;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #edcedc;
}
.react-calendar__tile--hasActive {
    background: #dd0f88;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #dd0f88;
}
.react-calendar__tile--active {
    background: #dd0f88;
    color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #dd0f88;
}
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}

.time .times {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: #fef6f7;
    border-radius: 1vw;
    border: #dd0f88 1px solid;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 1.5vw;
}

.times p {
    text-align: center;
    margin: 1vh 1vw 5vh 1vw;
}

.times div {width: 100%;}

.times div button {
    width: 100%;
    margin: 1vh 0;
    height: 5vh;
    border-radius: 1vw;
    border-style: none;
}